$primary: #EA4E25;
$secondary: #CA9C52;
$base: #fff3e2;

body {
  background-color: $base;
}

#logo {
  margin: 0 auto;
  width: fit-content;
}

.container-flex {
  height: 70vh;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  img {
    width: 500px;
  }
}